.App {
  text-align: center;
}

.log {
  width: 60%;
  height: auto;
  background-color: rgb(92, 84, 91);
  padding: 0.5% 5% 0.5% 5%;
  margin: 0 auto;
}

.Loglist {
  margin-top: 5%;
  margin-bottom: 5%;
}